/* UTILITIES  */
:root {
    --white: #ffffff;
    --black: #111111;
    --dark-gray: #333333;
    --heavenly: #B5DDFF;
    --blue: #0084FD;
    --lilla: #9792E4;
    --orange: #FDC15F;    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--white);
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
.flexbox {
    display: flex;
}
.jc_between {
    justify-content: space-between;
}
.align_center {
    align-items: center;
}
.btn {
    padding: .5rem 2rem;
    border-radius: 20px;
    border: none;
    transition: all 0.3s linear;
}
.btn:hover {
    opacity: 0.8;
}
    
/* HEADER  */
header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header span{
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
header a {
    text-decoration: none;
    color: var(--white);
}
.nav_bar ul{
    list-style: none;
}
.nav_bar ul li:hover {
    text-decoration: underline;
}
.nav_bar {
    display: none;
    width: 50%;
}
.nav_bar button {
    background-color: var(--white);
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.dropdown_content {
    position: absolute;
    background-color: var(--blue);
    top: 3.5rem;
    right: -2.5rem;
    padding: 1rem;
    display: none;
}
.dropdown_content ul li {
    list-style: none;
    padding: .5rem .5rem;
}
header span:hover .dropdown_content {
    display: block;
}

/* MAIN  */
#planning, #features, #get_started {
    background-color: var(--lilla);
}
#jumbo, #planning, #testimonials, #features, #about_us, #get_started, footer{
    padding: 2.5rem 2rem;
}
.card {
    background-color: var(--heavenly);
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.card h4 {
    color: var(--blue);
    font-size: 1.5rem;
}
.card p {
    padding: 1.5rem 0;
    line-height: 1.5rem;
}
.card button {
    color: var(--white);
    background-color: var(--blue);
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.card:first-child {
    padding-bottom: 0;
    text-align: left;
}
.mobile_pic {
    width: 80%;
    margin: 0 auto;
}
.mobile_pic img {
    max-width: 100%;
    display: block;
}
.card_icon {
    font-size: 5rem;
    color: var(--blue);
}

/* #Planning  */

.strategic img {
    max-width: 100%;
    padding: 2rem 0;
}
.strategic h3 {
    color: var(--white);
    font-size: 2rem;
    padding: 1.5rem 0;
}
.strategic p {
    padding: 1.5rem 0;
    line-height: 1.5rem;
    color: var(--white);
}
.app_dev {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 4rem;
}
.app_dev img {
    max-width: 100%;
}
.app_dev h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
}
.app_dev p {
    font-style: italic;
    line-height: 2rem;
    text-align: center;
}
.app_dev a {
    display: block;
    text-align: center;
    padding: 2rem 0;
}
.app_dev button {
    background-color: var(--lilla);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s linear;
}
.app_dev button:hover {
    transform: scale(1.2);
}

/* Testimonials  */
.testimonials_title {
    text-align: center;
}
h5 {
    font-weight: 400;
    font-size: 1rem;
    padding: 0.8rem 0;
}
.testimonials_title h3 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    color: var(--lilla);
}
#testimonials p {
    padding: 1.5rem 0;
    line-height: 1.8rem;
    font-size: 1.1rem;
}
.testimonials_card {
    background-color: var(--lilla);
    padding: 1.5rem;
    border-radius: 4rem;
    color: var(--white);
    margin-bottom: 1.5rem;
}
.testimonials_propic {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.bg-2 {
    background-image: url(../img/testimonial2.jpg);
}
.bg-3 {
    background-image: url(../img/testimonial3.jpg);
}
.testimonials_name {
    text-align: center;
    font-weight: bold;
    display: block;
    letter-spacing: 0.3rem;
    padding: 0.5rem;
}
.testimonials_description i {
    font-size: 1.3rem;
}

/* FEATURES  */
#features h2 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    color: var(--white);
}
.features_card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.features_card h3 {
    color: var(--lilla);
    font-size: 2.5rem;
}
.features_card h4 {
    color: var(--lilla);
    font-size: 1.5rem;
    padding-top: 1rem;
}
.features_card p {
    padding: 1.5rem 0;
    line-height: 1.6rem;
}
.features_card button {
    background-color: var(--lilla);
    color: var(--white);
    font-size: 1.1rem;
    padding: .5rem 2.5rem;
    cursor: pointer;
}

/* ABOUT US  */
.about_us_wot h3 {
    font-size: 3rem;
    color: var(--lilla);
    padding: 1rem 0;
}
.about_us_wot p {
    line-height: 2rem;
    padding: 1rem 0;
}
.about_us_smalltext img {
    width: 100%;
    border-radius: 50%;
    padding-top: 1rem;
}
.about_us_smalltext p {
    color: var(--lilla);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2rem;
    padding: 1rem 0;
}
.about_us_smalltext button {
    color: var(--white);
    background-color: var(--lilla);
    word-spacing: 0.2rem;
    cursor: pointer;
}
.smalltext_pic {
    width: 150px;
    position: relative;
}
.smalltext_pic i {
    font-size: 4rem;
    color: var(--lilla);
    position: absolute;
    top: 8%;
    left: 75%;
}

/* GET STARTED  */
#get_started {
    text-align: center;
    color: var(--white);
}
#get_started h3 {
    font-size: 2rem;
}
#get_started h2 {
    color: var(--orange);
    font-size: 4rem;
    padding: 1rem 0;
}
#get_started button {
    margin: 2rem auto; 
    font-size: 1.5rem;   
    color: var(--lilla);
    background-color: var(--white);
    padding: 1rem 3.5rem;
    border-radius: 30px;
    cursor: pointer;
    display: block;
}
.copyright a {
    color: white;
}
span.copyright {
    font-size: 0.9rem;
}

/* FOOTER  */
footer {
    background-color: var(--dark-gray);
    color: var(--white);
    text-align: center;
    font-size: 0.9rem;
}
footer a {
    color: var(--lilla);
}
footer p:first-child {
    margin-bottom: 1.5rem;
}

/* MEDIA QUERIES  */

/* Tablet 768px  */
@media screen and (min-width:768px) {
    .container {
        max-width: 750px;
    }
    #jumbo .card_wrapper {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #jumbo .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }
    #jumbo .card:first-child {
        width: calc(66.66% - 1.5rem);
        text-align: left;
    }
    .card:first-child img {
        width: 55%;
    }
    .strategic h3 {
        font-size: 4rem;
    }
    #testimonials .testimonials_card {
        display: flex;
        border-radius: 2rem;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }
    .testimonials_description {
        width: 70%;
        padding: 1.5rem 0;
    }
    .testimonials_title h3 {
        font-size: 2.5rem;
    }
    .testimonials_name {
        text-align: left;
    }
    #features h2 {
        font-size: 3rem;
    }
    .features_wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
        padding: 2rem 0;
    }
    .features_card {
        width: calc(50% - 1.5rem);
        margin-bottom: 0;
    }
    .features_card h3 {
        font-size: 4rem;
    }
    .about_us_wrapper {
        display: flex;
        gap: 2rem;
    }
    .about_us_smalltext {
        padding: 1.5rem;
        width: 45%;
    }
    .smalltext_pic {
        width: 200px;
    }
    .about_us_wot {
        padding: 1.5rem;
        width: 55%;
    }
    footer .container, #get_started .container {
        width: 50%;
    }
}

/* Desktop 992px */
@media screen and (min-width:992px){
    .container{
        max-width: 940px;
    }
    header span {
        display: none;
    }
    header .nav_bar {
        display: block;
    }
    #jumbo .card:first-child {
        display: flex;
        align-items: center;
        padding-top: 0;
    }
    .card:first-child img {
        width: 100%;
    }
    .demo_app_text {
        width: 50%;
    }
    .mobile_pic {
        align-self: flex-end;
        width: 40%;
    }
    #planning .container {
        display: flex;
        gap: 3rem;
        width: 70%;
    }
    .strategic h3 {
        font-size: 2rem;
    }
    .strategic, .app_dev {
        width: 50%;
    }
    .app_dev_pic{
        width: 70%;
        margin: 0 auto;
    }
    .app_dev a {
        padding-bottom: 0;
    }
    .app_dev {
        align-self: flex-end;
    }
    .testimonials_card {
        padding: 1rem;
    }
    .features_card {
        width: calc(33.33% - 1.5rem);
        margin-bottom: 0;
    }
    .about_us_wot {
        width: 66.66%;
    }
    .about_us_smalltext {
        width: 33.33%;
    }
}

/* Desktop 1200px */
@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}
