/* UTILITIES  */
:root {
    --white: #ffffff;
    --black: #111111;
    --dark-gray: #333333;
    --heavenly: #B5DDFF;
    --blue: #0084FD;
    --lilla: #9792E4;
    --orange: #FDC15F;    
}
.debug {                          /* DA TOGLIERE */
    border: 1px solid black; 
    min-height: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--white);
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
.flexbox {
    display: flex;
}
.jc_between {
    justify-content: space-between;
}
.align_center {
    align-items: center;
}
.btn {
    padding: .5rem 2rem;
    border-radius: 20px;
    border: none;
}
    

/* HEADER  */
header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
}
header span{
    font-size: 1.5rem;
    cursor: pointer;
}
header a {
    text-decoration: none;
    color: var(--white);
}
.nav_bar ul{
    list-style: none;
}
.nav_bar {
    display: none;
}

/* MAIN  */
#planning, #features, #get_started {
    background-color: var(--lilla);
}
#jumbo, #planning, #testimonials, #features, #about_us, #get_started{
    padding: 2.5rem 2rem;
}
.card {
    background-color: var(--heavenly);
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.card h4 {
    color: var(--blue);
    font-size: 1.5rem;
}
.card p {
    padding: 1.5rem 0;
    line-height: 1.5rem;
}
.card button {
    color: var(--white);
    background-color: var(--blue);
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    margin-bottom: 1.5rem;
}
.mobile_pic {
    width: 90%;
    margin: 0 auto;
}
.mobile_pic img {
    max-width: 100%;
}
.card_icon {
    font-size: 5rem;
    color: var(--blue);
}

/* #Planning  */

.strategic img {
    max-width: 100%;
    padding: 2rem 0;
}
.strategic h3 {
    color: var(--white);
    font-size: 2rem;
    padding: 1.5rem 0;
}
.strategic p {
    padding: 1.5rem 0;
    line-height: 1.5rem;
    color: var(--white);
}
.app_dev {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 4rem;
}
.app_dev img {
    max-width: 100%;
}
.app_dev h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
}
.app_dev p {
    font-style: italic;
    line-height: 2rem;
    text-align: center;
}
.app_dev a {
    display: block;
    text-align: center;
    padding: 2rem 0;
}
.app_dev button {
    background-color: var(--lilla);
}

/* Testimonials  */
.testimonials_title {
    text-align: center;
}
h5 {
    font-weight: 400;
    font-size: 1rem;
    padding: 0.8rem 0;
}
.testimonials_title h3 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    color: var(--lilla);
}
#testimonials p {
    padding: 1.5rem 0;
    line-height: 1.8rem;
    font-size: 1.1rem;
}
.testimonials_card {
    background-color: var(--lilla);
    padding: 1.5rem;
    border-radius: 4rem;
    color: var(--white);
    margin-bottom: 1.5rem;
}
.testimonials_name {
    text-align: center;
    font-weight: bold;
    display: block;
    letter-spacing: 0.3rem;
    padding: 0.5rem;
}
.testimonials_description i {
    font-size: 1.3rem;
}

/* FEATURES  */
#features h2 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    color: var(--white);
}
.features_card {
    background-color: var(--white);
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.features_card h3 {
    color: var(--lilla);
    font-size: 2.5rem;
}
.features_card h4 {
    color: var(--lilla);
    font-size: 1.5rem;
    padding-top: 1rem;
}
.features_card p {
    padding: 1.5rem 0;
    line-height: 1.6rem;
}
.features_card button {
    background-color: var(--lilla);
    color: var(--white);
    font-size: 1.1rem;
    padding: .5rem 2.5rem;
    cursor: pointer;
}

/* ABOUT US  */
.about_us_wot h3 {
    font-size: 3rem;
    color: var(--lilla);
    padding: 1rem 0;
}
.about_us_wot p {
    line-height: 2rem;
    padding: 1rem 0;
}
.about_us_smalltext p {
    color: var(--lilla);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2rem;
    padding: 1rem 0;
}
.about_us_smalltext button {
    color: var(--white);
    background-color: var(--lilla);
    word-spacing: 0.2rem;
    cursor: pointer;
}
#get_started {
    text-align: center;
    color: var(--white);
}
#get_started h3 {
    font-size: 2rem;
}
#get_started h2 {
    color: var(--orange);
    font-size: 4rem;
    padding: 1rem 0;
}
#get_started button {
    margin: 2rem auto; 
    font-size: 1.5rem;   
    color: var(--lilla);
    background-color: var(--white);
    padding: 1rem 3.5rem;
    border-radius: 30px;
    cursor: pointer;
    display: block;
}
.copyright a {
    color: white;
}

/* FOOTER  */
footer {
    background-color: var(--dark-gray);
}